# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Konrad\Documents\HTW Berlin IMI\HTW Berlin IMI WiSe 2020 2021\DoM\Lehreinheit Info1 Polymorphism Repository\Info1-Polymorphism\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
